@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat);
  --font-arabic: var(--font-cairo);

  --color-primary: #0D3B66;
  --color-secondary: #FF7F11;
  /* Bright Orange */
  --color-accent: #E5E7EB;
  /* Light Gray for backgrounds */
  --color-background-light: #F7F9FC;
}

body {
  @apply font-sans text-gray-800 bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-primary;
}

.font-sans-ar {
  font-family: var(--font-arabic), sans-serif;
}